name: secondProject-check

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Install dependencies
        run: make install

      - name: Run Linter
        run: make lint

      - name: secondProject-check
        with: # Set the secret as an input
          super_secret: ${{ secrets.STUDENT_ID }}
        env: # Or as an environment variable
          super_secret: ${{ secrets.STUDENT_ID }}